<?xml version="1.0" encoding="utf-8"?>
<!-- lines 3-4 root manifest tag with a package attribute set to teh projects pkg -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mooooood.hellogoodbye" >

    <!-- lines 7-26 - application container - a manifest can only contain one
        application node - title, launch icon, theme
        and an application tag serves as a container for the application's activities -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <!-- lines 16-25 - activity container - a manifest can contain many activity nodes -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>